/* Start Media's */
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* End Media's */
a {
  text-decoration: none;
  outline: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}